<html>
<head>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

  <%= javascript_include_tag 'underscore-min' %>
  <%= javascript_include_tag 'youtube-video' %>
  <%= javascript_include_tag 'tuna' %>
  <%= javascript_include_tag 'sounds' %>
  <%= javascript_include_tag 'glitch' %>


</head>
<body>

  <canvas id="canv" width="100%" height="100%"></canvas>
  <canvas id="data_canv" style="display: none;" width="100%" height="100%"></canvas>
  <video width="100%" height="100%" preload="true" style="display: none;"></video>

  <div id="start" class="box">
    <div class="predefined btn">AyJfHU4GoOQ</div>
    <div class="predefined btn">otk3jd0b2Us</div>
    <div class="predefined btn">omuYi2Vhgjo</div>
    <div class="predefined btn">YZs3EADi2pQ</div>
    <input type="text" id="video_source" value="N4_jCeQuqqM"></input>

    <div id="gogo" class="btn">Go!</div>
  </div>

  <div id="controls" class="box">
    <label for="low_threshold">Low threshold (<span id="low_threshold_val"></span>)</label>
    <div id="low_threshold"></div>
    <label for="mid_threshold">Mid threshold (<span id="mid_threshold_val"></span>)</label>
    <div id="mid_threshold"></div>
    <label for="red_shift">Red shift (<span id="red_shift_val"></span>)</label>
    <div id="red_shift"></div>
    <label for="green_shift">Green shift (<span id="green_shift_val"></span>)</label>
    <div id="green_shift"></div>
    <label for="blue_shift">Blue shift (<span id="blue_shift_val"></span>)</label>
    <div id="blue_shift"></div>
    <label for="playback_rate">Playback rate (<span id="playback_rate_val"></span>)</label>
    <div id="playback_rate"></div>

    <div id="loop" class="btn small">Loop IN</div>

    <div id="fx" class="btn small">FX</div>

    <div id="mirror" class="btn small">MIRROR</div>

    <div id="fps"></div>
  </div>

</body>
</html>